body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: rgb(135, 135, 135);
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 19.2px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dfe1e5;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
  float: left;
}
.weather-temperature strong {
  font-size: 64px;
  color: rgb(32, 33, 36);
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
